@import "tailwindcss";

:root {
    --main1: #b5dbdf;
    --lightMain1: #f5f7fa;
    --darkMain1: #1e4145;
    --contrast1: #144133;
    --mainComplimentary1: #fff;
}

@theme {
    --color-main1: var(--main1);
    --color-lightMain1: var(--lightMain1);
    --color-darkMain1: var(--darkMain1);
    --color-contrast1: var(--contrast1);
    --color-mainComplimentary1: var(--mainComplimentary1);
}

@layer utilities {
    .bg-rainbow::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 20%;
        z-index: -1;
        width: 60%;
        height: 20%;
        background-size: 200%;
        background-image: linear-gradient(
            90deg,
            rgb(255, 66, 66),
            rgb(161, 255, 66),
            rgb(66, 161, 255),
            rgb(66, 208, 255),
            rgb(161, 66, 255)
        );
        filter: blur(calc(0.8 * 1rem));
        animation: rainbow 1s linear infinite;
    }

    .animate-scroll {
        animation: scroll 60s linear infinite;
    }

    .animate-loading {
        animation: loading 0.5s linear;
    }
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

@keyframes scroll {
    100% {
        transform: translate(calc(-50% - 0.5rem));
    }
}

@keyframes loading {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

body {
    font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
